.Navigation {
  .title {
    color: #4c4b69;
    letter-spacing: 0.18rem;
    white-space: nowrap;
  }

  .drawerTitle {
    color: #ffffff;
    letter-spacing: 0.18rem;
    white-space: nowrap;
  }
}
