.loginPage {
  display: flex;
  position: relative;
  overflow: hidden;

  // Background
  .backgroundImage {
    flex: 3;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
    }
  }

  // Login Section
  .LoginSection {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .termsCapton {
      font-size: 0.65rem;
      color: #43425d;
      font-family: "Source Sans Pro";
      position: absolute;
      bottom: 1.4rem;
    }

    .Title h4 {
      width: 100%;
      font-weight: bold;
      font-size: 2rem;
      font-family: "Source Sans Pro";
      letter-spacing: 0.23rem;
      text-transform: uppercase;
      white-space: nowrap;
    }

    form {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 14rem;
      margin-top: 1.5rem;
    }

    .redirectLink {
      cursor: pointer;
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
    }
  }

  // Media Query for Tablet and Lower.
  @media only screen and (max-width: 700px) {
    .LoginSection {
      position: absolute;
      background-color: white;
      width: 100%;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 1.5rem 1.5rem 0 0;
      bottom: 0px;
      padding-top: 4rem;
      padding-bottom: 7.7rem;

      .Title {
        color: white;
        position: absolute;
        top: -6.9rem;
      }
    }
  }
}
