.Menu {
  .userBlock {
    display: flex;
    flex-direction: row;
    .user {
      display: flex;
      align-items: center;
      margin-top: 0.145rem;

      .avatarIcon {
        width: 1.72rem;
        margin: 0 0.6rem;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}
