.DataTable {
  background-color: white;
  height: 100%;

  .title {
    color: #4d4f5c;
    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: 1.15rem;
    padding-top: 1.2rem;
    padding-left: 1.72rem;
  }
  .table {
    padding: 1.5rem;
    padding-top: 1rem;
  }
}
